/**
 * @Main scss for (Template/Project Name)
 * @project     - Zou Farm Project
 * @author      - 
 * @created_by  - Asraful Hoque
 * @created_at  - 
 * @modified_by -
 */
/* 


/* reset, root */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    background-color: #fff;
    overflow-x: hidden;
    font-family: 'Chivo', sans-serif !important;
    transition: 0.8s ease-in-out;
}

:root {
    --green: #66BB6A;
    --green-light: #E2EFD2;
    --black: #000000;
    --black-light: #324148;
    --black-light-gray: #263238;
    --gray: #607D8B;
    --white:#fff;
    --off-white:#E8F5E9;
}

/* reset, root - END */

// container resize
.container {
    @media (min-width: 1400px) {
        max-width: 1230px;
        padding: 0 15px;
        margin: auto;
    }
}
.min-container {
    @media (min-width: 1400px) {
        max-width: 1090px;
        padding: 0 15px;
         margin: auto;
    }
}

/* helper , base classes */

a{
    text-decoration: none;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.common-heading{
    margin-bottom: 80px;
}
.common-title{
    margin-bottom: 10px;
}

.lh-64{
    line-height: 64px;
}

.lh-32{
    line-height: 32px;
}
.lh-40{
    line-height: 40px;
}

.text-center{
    text-align: center;
}
.text-start{
    text-align: start;
}
.img-fluid{
    max-width: 100%;
}

.lh-24{
    line-height: 24px;
}
.mb-20{
    margin-bottom: 20px;
}
.text-uppercase{
    text-transform: uppercase;
}
// text-color
.text-green {
    color: var(--green);
}
.text-green-light {
    color: var(--green-light);
}
.text-black {
    color: var(--black);
}
.text-black-light-gray {
    color: var(--black-light-gray);
}
.text-gray {
    color: var(--gray);
}
.text-white {
    color: var(--white);
}
.text-off-white {
    color: var(--off-white);
}

// BG color
.bg-green {
    background-color: var(--green);
}
.bg-black {
    background-color: var(--black);
}
.bg-black-light-gray {
    background-color: var(--black-light-gray);
}
.bg-gray {
    background-color: var(--gray);
}

// font-sizing properties

.fs-48{
    font-size: 46px;
}
.fs-14{
    font-size: 14px;
}
.fs-16{
    font-size: 16px;
}
.fs-18{
    font-size: 16px;
}
.fs-36{
    font-size: 36px;
}
.fs-31{
    font-size: 31px;
}
.fs-24{
    font-size: 24px;
}


    //letter spacing properties

    .ls-2{
        letter-spacing: 2.8px;
    }

    //display properties

   
    .d-block{
        display: flex;
    }
    .d-flex{
        display: flex;
    }
    .align-items-center{
        align-items: center;
    }
    .align-items-start{
        align-items: flex-start;
    }
    .justify-content-center{
        justify-content: center;;
    }
    .justify-content-between{
        justify-content: space-between;;
    }